.result {
	font-family: 'Inconsolata', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	font-size: 16pt;
	font-weight: 800;

	button {
		font-size: 21pt;
	}
}

.right {
	color: rgb(112, 220, 110);
}

.wrong {
	color: rgb(218, 115, 115);
}